/* Gráfico */
div.main.container {
  padding: 30px 20px;

  &.hide {
    display: none;
  }

  h2.titulo_do_grafico {
    text-align: center;
    margin-bottom: 0;
  }

  div#grafico {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
