/* Gráfico */
div.main.container {
  padding: 0px 60px 60px 60px;

  min-height: 50vh;
  max-height: 90vh;

  &.hide {
    display: none;
  }

  .titulo_do_grafico {
    text-align: center;
  }

  div#grafico {
    background-color: rgba(0, 0, 0, 0);

    /* reduz o espaço reservado para o titulo dentro do grafico Plotly */
    position: relative;
    top: -50px;
    z-index: 5;
  }
}