/* Info Panel */

/* Colors */
$torquoise: #4ecdc4;
$lime: #edff7a;
$cinza: #292f36;
$orange: #bb4430;

div.main.container {
  padding: 60px 0;

  &.hide {
    display: none;
  }

  h2 {
    text-align: center;
    a,
    a:hover,
    a:visited {
      color: $orange;
      font-weight: 700;
    }
  }

  p {
    font-size: 16px;
    text-align: center;
  }
}
