/* You can add global styles to this file, and also import other style files */

/* Import Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Fonts */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: (0, 0, 0, 0.04);
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.row {
  margin: auto;
}