/* Nav e Footer */

/* Colors */
$torquoise: #4ecdc4;
$lime: #edff7a;
$cinza: #292f36;
$orange: #bb4430;

nav.navbar {
  background-color: $torquoise;
  padding: 20px 0px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  h2 {
    margin: auto;
    font-weight: 600;
    font-size: 24px;
  }
}

footer.footer {
  width: 100%;
  padding: 10px 0;

  background-color: rgba(0, 0, 0, 0.1);

  p {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;

    a,
    a:hover,
    a:visited {
      color: inherit;
      font-weight: 600;
    }
  }
}

/* MEDIA QUERIES / Breakpoints */

@media (min-width: 768px) {
  nav.navbar {
    padding: 30px 60px;

    h2 {
      font-size: 28px;
    }
  }
}

@media (min-width: 1200px) {
  nav.navbar {
    h2 {
      margin: 0;
      font-size: 32px;
    }
  }
}

/* hide */
.hide {
  display: none !important;
}
