<div class="main container" [ngClass]="!most_recent_data ? 'hide' : ''">
  <div class="row">
    <div class="col" id="tabela">
      <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Abreviatura</th>
            <th scope="col">Moeda</th>
            <th scope="col">
              Quanto vale 1,00 {{ sigla_da_moeda }} nesta moeda
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of most_recent_data">
          <tr>
            <th class="sigla" scope="row">{{ item.sigla }}</th>
            <td class="nome">{{ item.nome }}</td>
            <td class="valor">{{ item.valor }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
