/* Tabela */
div.main.container {
  padding: 60px;

  &.hide {
    display: none;
  }

  div#tabela {
    max-height: 50vh;
    overflow: scroll;


    table {
      thead th {
        position: sticky;
        top: 0;
        background-color: #ffffff;
      }
    }
  }
}