<div class="main container" [ngClass]="!most_recent_data ? 'hide' : ''">
  <div class="row">
    <div class="col-12" id="tabela">
      <h2>
        Valores da moeda para o dia
        <mat-form-field class="currency_picker">
          <mat-select
            [formControl]="date_em_exibicao"
            (ngModelChange)="date_change()"
          >
            <mat-option
              *ngFor="let data of todas_as_datas_recebidas"
              [value]="data"
            >
              {{ data }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </h2>

      <table mat-table [dataSource]="most_recent_data" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Sigla Column -->
        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef>Abreviatura</th>
          <td mat-cell *matCellDef="let element">{{ element.sigla }}</td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Moeda</th>
          <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef>
            Quanto vale 1,00 {{ sigla_da_moeda }} nesta moeda
          </th>
          <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
