/* Tabela */

div.main.container {
  padding: 30px 20px;

  &.hide {
    display: none;
  }

  div#tabela {
    max-height: 50vh;
    overflow: scroll;

    .table thead {
      th {
        position: sticky;
        top: -2px;
        font-weight: 500;
        padding: 10px 5px;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

/* MEDIA QUERIES / Breakpoints */

@media(min-width: 768px) {
  div.main.container div#tabela {
    .table thead {
      th {
        text-align: left;
      }
    }
  }
}