/* Tabela */

div.main.container {
  padding: 30px 20px;

  &.hide {
    display: none;
  }

  div.row {
    display: flex;
  }

  div#tabela {
    width: auto;
    padding: 0;
    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;

    h2 {
      text-align: center;
    }

    table.mat-elevation-z8 {
      margin: auto;

      th.mat-header-cell {
        padding: 10px !important;
        text-align: left;
      }
      td.mat-cell {
        padding: 0 10px;
      }
    }
  }
}

/* MEDIA QUERIES / Breakpoints */

/*
@media(min-width: 576px) {
}
@media(min-width: 768px) {
}
@media(min-width: 992px) {
}
@media(min-width: 1200px) {
}
*/
